* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

.leftside {
  background-color: white;
  border-right: 1px solid #e0e0e0;
  height: 100vh;
  width: 21%;
  position: fixed;
  top: 0;
  left: 0;
}

.leftside img {
  width: 40%;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  border-radius: 7px;
}

.leftside h2 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 20px;
}

.leftside span {
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.icons .icon:hover {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.icons .icon {
  display: flex;
}

.icons .icon:hover {
  cursor: pointer;
}

.icons .icon span {
  font-weight: 600;
}

.socialmedia {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-left: 15px;
}

.socialmedia i {
  font-size: 1rem;
  cursor: pointer;
}

.rightside {
  margin-left: 21%;
  height: 100vh;
  width: 78%;
  padding: 10px;
  padding-left: 20px;
}

.header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header h1 {
  margin-bottom: 40px;
}

.filter {
  display: flex;
  align-items: center;
  padding: 10px;
}

.filter span {
  margin-right: 20px;
  font-weight: 100;
}

.h-button {
  display: flex;
  width: 10%;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5px;
  margin: 0 2px;
  cursor: pointer;
}

.h-button i {
  margin-right: 5px;
}

.h-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.h-button button.active {
  font-weight: bold;
}

hr {
  border: 4px solid lightgray;
  margin-top: 15px;
}

.ourwork {
  height: 100%;
  margin-top: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  /* padding: 15px; */
}

.ourwork p {
  line-height: 1.5;
  color: black;
}

.sample {
  background: white;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sample img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.sample-texts h4 {
  margin: 10px;
  color: black;
  margin-top: 25px;
}

.sample-texts p {
  margin: 10px;
  color: black;
}
.pagination {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  margin-top: 20px;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.two-images {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.two-images img {
  width: 49%;
  height: 300px;
  object-fit: cover;
}

.context {
  padding-top: 40px;
}

.context h3 {
  font-weight: lighter;
  margin-bottom: 20px;
}

.context p {
  font-family: Raleway, sans-serif;
  margin-bottom: 20px;
  text-align: left;
}
.skills-container {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding-top: 20px;

  h2 {
    margin-bottom: 20px;
  }
}

.skill-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.skill-name {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.skill-bar {
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

.skill-percentage {
  height: 100%;
  background-color: gray;

  span {
    display: flex;
    justify-content: center;
    color: white;
  }
}

.skill-percentage-text {
  font-size: 18px;
  margin-top: 5px;
}

.download-resume {
  display: block;
  width: 20%;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin-top: 30px;

  i {
    margin-right: 5px;
  }
}
.pricing {
  margin-top: 70px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-weight: lighter;
  }
}

.plans {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  :hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.plan {
  margin: 10px;
  padding: 20px;
  border: 1px solid #333;
  width: 30%;
  text-align: center;
  box-shadow: rgb(5, 105, 211) 0px 20px 30px -10px;
}

.plan h3 {
  margin-top: 30px;
}

.plan h4 {
  margin-top: 20px;
  font-size: 2rem;
  margin-bottom: 10px;
}

.plan p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.myButton {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  margin: 20px auto;
}

.myButton:hover {
  background-color: gray;
}

.small-text {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #666;
}
hr {
  border: 1px solid lightgray;
  margin-top: 15px;
}
